.about-me-section{
  .about-me-section-bottom{
    textarea{
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      outline: none;
      width: 100%;
      height: 7rem;
      resize: none;
      background: var(--background);
      border: none;

      color: var(--paragraph);
      display: flex;
      font-size: 14px;
      font-weight: 550;
      line-height: 1.5;
      overflow: hidden auto;
    }
  }
}