.not-auth-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden ;

  .not-auth-page-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2rem;

    img{
      width: 70%;
      max-width: 25rem;
    }

    button{
      background-color: var(--sidebar-tab-hover);
      border: none;
      border-radius: 0.5rem;
      color: var(--text-color);
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.75rem 0.85rem;
    }
  }
}